<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Dash!</title>
    <link href="{{ url_for('static', filename='ddstyles.css') }}" rel="stylesheet"/>
    <h1 class="welcome">
     🆓 Donor Dash 🆓
    </h1>
  </head>
  <body>
      <ul class="nav_bar">
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    <div class="donors">
       <a href="/donor" class="button"><span>Become Donor</span></a>
    </div>
    <div class="receivers">
      <a href="/receiver_form" class="button"><span>Become Beneficiary</span></a>
    </div>
  </body>