<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Dash!</title>
    <link href="ddstyles.css" rel="stylesheet" type="text/css"/>
    <h1 class="welcome">
     🆓 Donor Dash 🆓
    </h1>
  </head>
  <body>
      <ul class="nav_bar">
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    <div class="donors">
       <button class="button" type="submit" value="Donor"><span>Become Donor</span></button>
    </div>
    <div class="receivers">
      <button class="button" type="submit" value="Beneficiary"><span>Become Beneficiary</span></button>
    </div>
  </body>